<section  class="container features">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Al Servicio de los animales<br/> <span class="navy">Todos pueden aportar al cuidado animales de arauca</span> </h1>
            <p>La fundaci&oacute;n se conforma de asociados y voluntarios que trabajan constantemente para ayudar los animales en riesgo.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-center wow fadeInLeft">
            <div>
                <h2>Asistencia Medica</h2>
                <p>Cuando rescatamos los animales de la calle es necesario prestarles cuidados
                    medicos ya que normalmente han pasado por maltrato y desnutricion, aqui en la
                    fundacion noes encargamos de cuidarlos lo mejor posible hasta que alguien pueda adoptarlos</p>
            </div>
            <div class="m-t-lg">
                <h2>6 Charts Library</h2>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
            </div>
        </div>
        <div class="col-md-6">
            <img src="img/logo.png" alt="dashboard" class="img-responsive center-block">
        </div>
        <div class="col-md-3 text-center wow fadeInRight">
            <div>
                <h2>Mail pages</h2>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
            </div>
            <div class="m-t-lg">
                <h2>AngularJS version</h2>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Los animales te necesitan</h1>
            <p>en la fundacion huellitas del llano siempre necesitamos ayuda con los animales, ya sea con alimento, cuidados temporales, o trabajo voluntario. tus acciones hacen la diferencia</p>
        </div>
    </div>
    <div class="space-70"></div>
</section>
