<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <h4 class="text-center m">
            Multiple example with responsive breakpoints
        </h4>
        <slick class="slick_demo_2" infinite="true" slides-to-show="3" slides-to-scroll="1" center-mode="true"
               responsive="[ { breakpoint: 1024, settings: { slidesToShow: 3, slidesToScroll: 3, infinite: true, dots: true } }, { breakpoint: 600, settings: { slidesToShow: 2, slidesToScroll: 2 } }, { breakpoint: 480, settings: { slidesToShow: 1, slidesToScroll: 1 } } ]" >
            <div>
                <div class="ibox-content">
                    <h2>Slide 1</h2>
                    <img src="img/patrocina/1.png" alt="" class="fh-100 full-width"/>
                </div>
            </div>
            <div>
                <div class="ibox-content">
                    <h2>Slide 2</h2>
                    <img src="img/patrocina/2.png" alt="" class="fh-100 full-width"/>
                </div>
            </div>
            <div>
                <div class="ibox-content">
                    <h2>Slide 3</h2>
                    <img src="img/patrocina/3.png" alt="" class="fh-100 full-width"/>
                </div>
            </div>
            <div>
                <div class="ibox-content">
                    <h2>Slide 4</h2>
                    <img src="img/patrocina/4.png" alt="" class="fh-100 full-width"/>
                </div>
            </div>
            <div>
                <div class="ibox-content">
                    <h2>Slide 5</h2>
                    <img src="img/patrocina/5.png" alt="" class="fh-100 full-width"/>
                </div>
            </div>
            <div>
                <div class="ibox-content">
                    <h2>Slide 6</h2>
                    <img src="img/patrocina/6.png" alt="" class="fh-100 full-width"/>
                </div>
            </div>
            <div>
                <div class="ibox-content">
                    <h2>Slide 7</h2>
                    <img src="img/patrocina/7.png" alt="" class="fh-100 full-width"/>
                </div>
            </div>
        </slick>
    </div>
</div>