<!-- FOOTER -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h4 class="space30">Nuestra Fundacion</h4>
                <a ui-sref="fapa.inicio">
                    <img src="img/logo.png" class="img-responsive center-block space20" width="150" alt=""/>
                </a>
                <p>Lorem ipsum dolor sit amet consec tetur elit vel quam ligula. Duis vel pulvinar diam in lacus non nisl commodo convallis.</p>
                <p>Phasellus rutrum urna ut nibh congue, ut vehicula nibh ultricies.</p>
            </div>
            <div class="col-md-3">
                <articulos-recientes-mini></articulos-recientes-mini>
            </div>
            <div class="col-md-3">
                <h3><strong>Huellitas del Llano</strong></h3>

                <p><i class="fa fa-map-marker"></i> Arauca, Arauca 32/106</p>
                <address>
                    <strong>Huellitas del Llano</strong><br>
                    795 Folsom Ave, Suite 600<br>
                    San Francisco, CA 94107<br>
                    <abbr title="Phone">P:</abbr> (123) 456-7890
                </address>
            </div>
            <div class="col-md-3">
                <h4 class="space30">Flickr</h4>
                <ul id="flickr" class="thumbs"></ul>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER COPYRIGHT -->
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p>&copy; F.A.P.A Huellitas del Llano 2016. Realizado por Yesid Bocanegra <a href="#" target="_blank"> BMD Software</a></p>
            </div>
            <div class="col-md-4">
                <div class="f-social pull-right">
                    <a class="fa fa-twitter" href="#"></a>
                    <a class="fa fa-facebook" href="#"></a>
                    <a class="fa fa-linkedin" href="#"></a>
                    <a class="fa fa-dribbble" href="#"></a>
                    <a class="fa fa-google-plus" href="#"></a>
                    <a class="fa fa-skype" href="#"></a>
                    <a class="fa fa-behance" href="#"></a>
                    <a class="fa fa-stumbleupon" href="#"></a>
                    <a class="fa fa-rss" href="#"></a>
                </div>
            </div>
        </div>
    </div>
</div>