<!-- STYLE SWITCHER
        ============================================= -->
<div class="b-settings-panel">
    <div class="settings-section">
        <span>
            Boxed
        </span>
        <div class="b-switch">
            <div class="switch-handle"></div>
        </div>
        <span>
            Wide
        </span>
    </div>
    <hr class="dashed" style="margin: 15px 0px;">
    <h5>Main Background</h5>
    <div class="settings-section bg-list">
        <div class="bg-pattern1"></div>
        <div class="bg-pattern2"></div>
        <div class="bg-pattern6"></div>
        <div class="bg-pattern10"></div>
        <div class="bg-pattern16"></div>
        <div class="bg-pattern4"></div>
        <div class="bg-pattern5"></div>
        <div class="bg-pattern7"></div>
        <div class="bg-pattern9"></div>
        <div class="bg-pattern11"></div>
        <div class="bg-pattern12"></div>
        <div class="bg-pattern13"></div>
        <div class="bg-pattern17"></div>
        <div class="bg-pattern8"></div>
        <div class="bg-pattern14"></div>
        <div class="bg-pattern15"></div>
        <div class="bg-pattern3"></div>
        <div class="bg-pattern18"></div>
    </div>
    <hr class="dashed" style="margin: 15px 0px;">
    <h5>Color Scheme</h5>
    <div class="settings-section color-list">
        <div data-src="css/color-scheme/moderate-green.css" style="background: #8ec249"></div>
        <div data-src="css/color-scheme/vivid-blue.css" style="background: #228dff"></div>
        <div data-src="css/color-scheme/orange.css" style="background: #fa6900"></div>
        <div data-src="css/color-scheme/brown.css" style="background: #a68c69"></div>
        <div data-src="css/color-scheme/yellow.css" style="background: #fabe28"></div>
        <div data-src="css/color-scheme/violet.css" style="background: #ba01ff"></div>
        <div data-src="css/color-scheme/strong-cyan.css" style="background: #00b9bd"></div>
        <div data-src="css/color-scheme/soft-cyan.css" style="background: #4bd5ea"></div>
        <div data-src="css/color-scheme/red.css" style="background: #ff0104"></div>
        <div data-src="css/color-scheme/lite-brown.css" style="background: #f3a76d"></div>
        <div data-src="css/color-scheme/lime-green.css" style="background: #3bdbad"></div>
        <div data-src="css/color-scheme/light-voilet.css" style="background: #aaa5ff"></div>
        <div data-src="css/color-scheme/gray-green.css" style="background: #697060"></div>
        <div data-src="css/color-scheme/gray-cyan.css" style="background: #aeced2"></div>
        <div data-src="css/color-scheme/de-green.css" style="background: #b6cd71"></div>
        <div data-src="css/color-scheme/cream.css" style="background: #e0d6b2"></div>

    </div>
    <div class="btn-settings"></div>
</div>
<!-- END STYLE SWITCHER
============================================= -->
